version: '3.4'
services:
  jorani:
    build: .
    expose:
      - "80"
    depends_on:
      - mysql
    networks:
      - appnet
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE=jorani
      - MYSQL_USER=jorani
      - MYSQL_PASSWORD=jorani
      - APP_BASE_URL='https://camelpark.duckdns.org/'
      - FORCE_HTTPS=true
  mysql:
    image: mysql:8
    expose:
      - "3306"
    networks:
      - appnet
    environment:
      - MYSQL_ROOT_PASSWORD=jorani
      - MYSQL_DATABASE=jorani
      - MYSQL_USER=jorani
      - MYSQL_PASSWORD=jorani
    volumes:
      - ./sql/jorani.sql:/docker-entrypoint-initdb.d/jorani.sql
networks:
  appnet:
    driver: bridge
